body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    color: #404040;
    letter-spacing: 0.04em;
    border: 0.5px #d8d9d9 solid;
    border-radius: 12px;
}

#title, .header {
    background-color: #404040;;
    padding: 8px;
    color: #FFF;
}

#title h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    background-color: transparent;
}


.header {
    background-color: #F3F3F3;
    font-size: 16px;
    padding: 8px;

}

#content1 {
    font-size: 20px;
    padding: 20px;
}

#content1 p {
    margin-top: 0;
    margin-bottom: 10px;
}

#content1 p:last-child {
    margin-bottom: 0;
}

#content2, #content3, #content4 {
    padding: 20px;
}

#content2 p, #content3 p, #content4 p {
    margin-top: 0;
    margin-bottom: 20px;
}

#content2 p:last-child, #content3 p:last-child, #content4 p:last-child {
    margin-bottom: 0;
}


#content2 p, #content4 p {
    color: black;
}

#content2 p span, #content4 p span {
    color: #BF9169;
    display: block;
}


#dispatch, #returns, #more-info {
    border-radius: 12px 12px 0 0;
    text-align: center;
    color: #404040;
}

#content2, #content3, #content4 {
    border-radius: 0 0 12px 12px;
    color: #404040;
}

.spacing-small {
    height: 20px;
}

.spacing-large {
    height: 60px;
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 95%;
    }
}

@media only screen and (max-width: 600px) {
    .header, #content2, #content3, #content4, #content5 {
        display: none;
    }

    #content1 {
        font-size: 20px;
    }
}